@font-face {
	font-family: 'Digital7Mono';
	src: url('digital-7.mono.ttf') format('truetype');
}
@font-face {
	font-family: 'SimplySerif';
	src: url('SimplySerif-Bold.ttf') format('truetype');
}

body { 
    background: #000;
    color: #fff; 
    font-family: Roboto, Helvetica, sans-serif; 
    font-size: 2vmax;
	margin: 0.2vmin;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between; 
    
    /* FIX: Use dynamic viewport height */
    height: 100vh; 
    width: 100vw;
    overflow-x: hidden;
	overflow-y: auto;
    padding: 1vh 0; /* Add a little breathing room top/bottom */
    box-sizing: border-box;
}
#topBar {
	width: calc(100% - 2vh);
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
}
#wall-clock {
	font-family: 'Digital7Mono', monospace;
	font-size: 4vmax;
	color: #999;
}
#config-btn {
    background: transparent;
    color: #999;
    border: none;
    font-size: 4vmax;
	width: 4vmax;
	height: 4vmax;
	display: flex;
	align-items: center;
    cursor: pointer;
}
.row {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
}
.adj-btn { 
	background: #222;
    color: #0f0;
    border: 1px solid #333;
    border-radius: 0vmax;
    width: 10vw;
    height: 100%;
    font-size:calc(6vh + 6vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.adj-btn:active {
    background: #0f0;
    color: #000;
}
.control-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,0.05);
    border-radius: 2vmax;
    padding: 1vmax;
    width: 90vw;
}
.orange-text {
    color: #fa0;
}
#next {
	font-family: 'SimplySerif';
	font-size: 5vmax;
	color: #999;
	font-weight: bold;
}
#blinds {
	font-family: 'SimplySerif';
	font-size:calc(11vh + 11vmin);
	color: #fff; 
	line-height: 1; 
	min-width: 80vw; 
	text-align: center;
	text-shadow: 0 0 0.6vh rgba(255, 255, 255, 1);
}
#timer {
	font-family: 'Digital7Mono', monospace;
	font-size:calc(16vh + 16vmin);
	text-transform: uppercase;
	line-height: 1; 
	min-width: 80vw; 
	text-align: center; /* Center works perfectly with Mono fonts! */
	color: #fff;
    text-shadow: 0 0 0.6vmax rgba(255, 255, 255, 1);
}
@keyframes blinker {
    50% {
        opacity: 0.1; /* High transparency for the 'off' look */
    }
}
body.rolling #timer { color: #00ff00; }
body.paused #timer { color: #ff0000; }
body.warning #timer {
	color: #ff0000;
	animation: blinker 0.6s linear infinite;
}
body:not(.rolling):not(.paused) #timer { color: #fff; }
.state-btn {
	width: 24vh;
    height: 12vh;
    font-size:calc(2vh + 2vmin);
    margin-bottom: 2vh;
    box-shadow: 0 1vmax 3vmax rgba(0, 0, 0, 0.5);
	padding: 1vmax;
	border: 2px solid #333; 
	border-radius: 1vmax;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.btn-green { background: #064506; color: #fff; border-color: #00ff00; }
.btn-red { background: #610c0c; color: #fff; border-color: #ff0000; }

#config-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.config-card {
    background: #111;
    max-width: 75vh;
    width: 100%;
    max-height: 90vh; 
	height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    border-radius: 2vmax;
    padding: 2vmax;
    box-shadow: 0 2vmax 5vmax rgba(0,0,0,0.8);
	font-size:3vmax;
}
.config-sidebyside {
	max-width: 75vh;
	width: 100%;
	max-height: 90vh;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.config-left {
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	align-items:start;
	max-height:83vh;
}
.config-card h2 { color: #00ff00; font-size:calc(2vh + 2vmin); }
.config-card input {
    background: #222;
    border: 1px solid #444;
    color: white;
    padding: 0.5vh;
    border-radius: 2.5vh;
    font-family: 'Share Tech Mono', monospace;
}
.config-right {
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	align-items:center;
}

#preset-selector {
	width: 100%;
	background-color:#222;
	color:white;
	border:1px solid #444;
	border-radius:1vh;
	padding:0.5vh;
	font-size:calc(1.6vh + 1.6vmin);
}
#input-level-time {
	font-size:calc(5vh + 5vmin);
	width: 2.5ch;
}
#input-blinds {
    max-width: calc(12ch + 0.4vh);
	background: #222;
    border: 1px solid #444;
    color: white;
    margin: 0.5vh;
    border-radius: 0.5vh;
    font-family: 'Share Tech Mono', monospace;
    font-size:calc(1.4vh + 1.4vmin);
    line-height: 1.2;
    flex-grow: 1; 
    resize: none;
}

.config-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end; /* Aligns buttons to the right */
}
.config-card button:not(.btn-outline) {
    padding: 1.5vh 2vh;
    border-radius: 1vh;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
	font-size:calc(1.6vh + 1.6vmin);
}
.btn-primary { background: #00ff00; color: #000; }
.btn-secondary { background: #333; color: #ccc; }
.btn-outline {
    border: none;
    font-weight: bold;
    cursor: pointer;
	border-radius: 50%;
	background: transparent;
	font-size:calc(1.6vh + 1.6vmin);
	width: 5vh;
	height: 5vh;
	color: #4f4;
	align-items:center;
	justify-items:center;
}
.btn-outline:active {
	background: #4f4;
	color: #000;
}

/* PORTRAIT */
@media (orientation: portrait) {
    #blinds {
        font-size:calc(8vw + 8vmin);
		margin-top: 2vh;
    }

    #timer {
        font-size:calc(12vw + 12vmin);
    }

    #next {
        font-size:calc(3vw + 3vmin);
        margin-bottom: 1vh;
    }

    .state-btn {
        width: 80vw;   /* Make button wider to fit the thumb better */
        height: 8vh;
        font-size:calc(2vw + 2vmin);
    }
}

#input-blinds::-webkit-scrollbar { width: 0.4vh; }
#input-blinds::-webkit-scrollbar-thumb { background-color: #999; }
